.devices {
	background-image: url(../images/devices.svg);
}

.laptop {
	background-image: url(../images/laptop.svg);
}

.camera {
	background-image: url(../images/camera.svg);
}

.audio {
	background-image: url(../images/audio.svg);
}

.watch {
	background-image: url(../images/watch.svg);
}

.display {
	background-image: url(../images/display.svg);
}

.gaming {
	background-image: url(../images/gaming.svg);
}

.mouse {
	background-image: url(../images/mouse.svg);
}

.pen {
	background-image: url(../images/pen.svg);
}

.shop {
	background-image: url(../images/shop.svg);
}

.chat {
	background-image: url(../images/chat.svg);
}

.bed {
	background-image: url(../images/bed.svg);
}

.food {
	background-image: url(../images/food.svg);
}

.milk {
	background-image: url(../images/milk.svg);
}

.duck {
	background-image: url(../images/duck.svg);
}

.book {
	background-image: url(../images/book.svg);
}

.heart {
	background-image: url(../images/heart.svg);
}

.user {
	background-image: url(../images/user.svg);
}

.rocket {
	background-image: url(../images/rocket.svg);
}

.flower {
	background-image: url(../images/flower.svg);
}

.basketball {
	background-image: url(../images/basketball.svg);
}

.alarm {
	background-image: url(../images/alarm.svg);
}

.shoes {
	background-image: url(../images/shoes.svg);
}

.rice {
	background-image: url(../images/rice.svg);
}

.lock {
	background-image: url(../images/lock.svg);
}

.weather {
	background-image: url(../images/weather.svg);
}

.ice-cream {
	background-image: url(../images/ice-cream.svg);
}

.egg {
	background-image: url(../images/egg.svg);
}

.glasses {
	background-image: url(../images/glasses.svg);
}

.coffee {
	background-image: url(../images/coffee.svg);
}

.sale {
	background-image: url(../images/sale.svg);
}

.beer {
	background-image: url(../images/beer.svg);
}

.inbox {
	background-image: url(../images/inbox.svg);
}

.umberlla {
	background-image: url(../images/umberlla.svg);
}

.earth {
	background-image: url(../images/earth.svg);
}

.flash {
	background-image: url(../images/flash.svg);
}

.plant {
	background-image: url(../images/plant.svg);
}

.compass {
	background-image: url(../images/compass.svg);
}

.skull {
	background-image: url(../images/skull.svg);
}

.medicine {
	background-image: url(../images/medicine.svg);
}

.photos {
	background-image: url(../images/photos.svg);
}

.peach {
	background-image: url(../images/peach.svg);
}

.watermelon {
	background-image: url(../images/watermelon.svg);
}

.lamp {
	background-image: url(../images/lamp.svg);
}

.map-pin {
	background-image: url(../images/map-pin.svg);
}

.crown {
	background-image: url(../images/crown.svg);
}

.note {
	background-image: url(../images/note.svg);
}

.search {
	background-image: url(../images/search.svg);
}

.mail {
	background-image: url(../images/mail.svg);
}

.ghost {
	background-image: url(../images/ghost.svg);
}

.robot {
	background-image: url(../images/robot.svg);
}

.ice-cream2 {
	background-image: url(../images/ice-cream2.svg);
}

.radio {
	background-image: url(../images/radio.svg);
}

.speaker {
	background-image: url(../images/speaker.svg);
}

.compact-disc {
	background-image: url(../images/compact-disc.svg);
}

.fire {
	background-image: url(../images/fire.svg);
}

.idea {
	background-image: url(../images/idea.svg);
}

.lab {
	background-image: url(../images/lab.svg);
}

.drum-stick {
	background-image: url(../images/drum-stick.svg);
}

.calendar {
	background-image: url(../images/calendar.svg);
}

.pizza {
	background-image: url(../images/pizza.svg);
}

.help {
	background-image: url(../images/help.svg);
}

.study {
	background-image: url(../images/study.svg);
}

.timer {
	background-image: url(../images/timer.svg);
}

.plane {
	background-image: url(../images/plane.svg);
}

.shopping-cart {
	background-image: url(../images/shopping-cart.svg);
}

.cake {
	background-image: url(../images/cake.svg);
}

.nut {
	background-image: url(../images/nut.svg);
}

.batch {
	background-image: url(../images/batch.svg);
}

.clipboard {
	background-image: url(../images/clipboard.svg);
}

.shield {
	background-image: url(../images/shield.svg);
}

.anchor {
	background-image: url(../images/anchor.svg);
}

.map {
	background-image: url(../images/map.svg);
}

.wallet {
	background-image: url(../images/wallet.svg);
}

.cooked {
	background-image: url(../images/cooked.svg);
}

.door {
	background-image: url(../images/door.svg);
}

.landscape {
	background-image: url(../images/landscape.svg);
}


