.devices {
	background-image: url(../images/devices.svg);
}

.laptop {
	background-image: url(../images/laptop.svg);
}

.camera {
	background-image: url(../images/camera.svg);
}

.audio {
	background-image: url(../images/audio.svg);
}

.watch {
	background-image: url(../images/watch.svg);
}

.display {
	background-image: url(../images/display.svg);
}

.gaming {
	background-image: url(../images/gaming.svg);
}

.mouse {
	background-image: url(../images/mouse.svg);
}

.pen {
	background-image: url(../images/pen.svg);
}

.shop {
	background-image: url(../images/shop.svg);
}

.chat {
	background-image: url(../images/chat.svg);
}

.bed {
	background-image: url(../images/bed.svg);
}

.food {
	background-image: url(../images/food.svg);
}

.milk {
	background-image: url(../images/milk.svg);
}

.duck {
	background-image: url(../images/duck.svg);
}

.book {
	background-image: url(../images/book.svg);
}

.heart {
	background-image: url(../images/heart.svg);
}

.user {
	background-image: url(../images/user.svg);
}

.rocket {
	background-image: url(../images/rocket.svg);
}

.flower {
	background-image: url(../images/flower.svg);
}

.basketball {
	background-image: url(../images/basketball.svg);
}

.alarm {
	background-image: url(../images/alarm.svg);
}

.shoes {
	background-image: url(../images/shoes.svg);
}

.rice {
	background-image: url(../images/rice.svg);
}

.lock {
	background-image: url(../images/lock.svg);
}

.weather {
	background-image: url(../images/weather.svg);
}

.ice-cream {
	background-image: url(../images/ice-cream.svg);
}

.egg {
	background-image: url(../images/egg.svg);
}

.glasses {
	background-image: url(../images/glasses.svg);
}